<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <app-input 
    label="Nombre" 
    type="text" 
    [control]="form.get('name')">
  </app-input>

  <app-input 
    label="Apellido" 
    type="text" 
    [control]="form.get('lastName')">
  </app-input>

  <app-input 
    label="Email" 
    type="email" 
    [control]="form.get('email')">
  </app-input>

  <app-input 
    label="Contraseña" 
    type="password" 
    [control]="form.get('password')">
  </app-input>

  <app-select 
    label="País"
    [options]="countries" 
    [control]="form.get('country')"
    [compareWith]="compareCountries">
  </app-select>

  <app-button-component
    label="Registrar"
    [disabled]="form.invalid">
  </app-button-component>
</form>
