<ion-content>
  <div class="container">
    <h1 class="title">Iniciar Sesión</h1>
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <app-input 
        label="Email" 
        type="email" 
        [control]="loginForm.get('email')">
      </app-input>

      <app-input 
        label="Contraseña" 
        type="password" 
        [control]="loginForm.get('password')">
      </app-input>

      <app-button-component 
        label="Iniciar Sesión"
        [disabled]="loginForm.invalid">
      </app-button-component>
    </form>

    <app-list-component mode="login"></app-list-component>
  </div>
</ion-content>
