<ion-content>
  <div class="register-container">
    <ion-card class="register-card">
      <ion-card-header>
        <ion-card-title class="register-title">Crear Cuenta</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <app-user-form (submitForm)="onRegister($event)"></app-user-form>
        <div class="login-link">
          <p>¿Ya tienes una cuenta? <a routerLink="/login">Inicia Sesión</a></p>
        </div>
        <app-list-component mode="register"></app-list-component>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
